<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Week 12</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <main>
      <h1>About</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis ipsam
        odio quibusdam maxime harum, esse fugiat. Reiciendis repellat totam
        labore, quis dolor blanditiis fugiat iusto sapiente? Quas odit nihil
        aspernatur?
      </p>
    </main>
  </body>
</html>
