<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week 6</title>
    <style>
      iframe {
        background-color: grey;
        height: 500px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Week 6</h1>

    <button id="plus">Plus</button>
    <button id="download-pdf">Download PDF</button>
    <button id="view-pdf">View PDF</button>

    <iframe id="pdf-preview" frameborder="0"></iframe>

    <script type="module" src="js/app.js"></script>
    <script type="module" src="js/pdf.js"></script>
  </body>
</html>
