<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Web Server</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <div class="main">
      <h1>Week 5 Web Server</h1>
      <p>Welcome to the server</p>
      <img src="media/img/kachow.jpg" alt="Lightning Mcqueen Crocs" />
      <p>Don't like the background? Let's fix that.</p>
      <button id="fixIt">Fix it</button>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
